<div>
  <div class="navbar-item has-dropdown  is-hoverable">
    <a class="navbar-link">
      <span
        class="cart-block--summary__icon"
        title="{{ count_text }}"
      >
        <ion-icon
          name="cart"
          style="color:white; font-size: 25px;"
        ></ion-icon>
      </span>
    </a>
    {% if content %}
      <div class="navbar-dropdown is-right">
          <div class="navbar-item">
            {{ content }}
          </div>
          <div class="button is-success">
            {{ links }}
          </div>
      </div>
    {% endif %}
  </div>
  
</div>
