@charset "utf-8";
@import "../../node_modules/bulma/bulma.sass";

.region-header-end,
.region-header-menu {
  display: flex;
  align-items: end;
}


.navbar-dropdown {
  .menu-list {
    display: flex;

    a {
      width: max-content;
    }
  }
}

.breadcrumb li {
  display: flex !important;
}

.field--name-field-images {
  .field__item {
    display: inline-block;

    &:nth-child(n+2) {
      width: 24%;
    }

    &:nth-child(n+6) {
      display: none;
    }
  }
}

a {
  color: unset;
}